<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register page</title>
    <style>
        #forum {
            width: 80%;
            margin-left: auto;
            padding: 5px;
            display: block;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
        {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div id="forum">
        <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="username" class="col-sm-1 col-form-label">Username</label>
                <div class="col-sm-4">
                    <input type="text" name="username" value="{{user.username}}" class="form-control"
                        id="username" disabled readonly>
                </div>
            </div>

            <div class="row mb-2">
                <label for="npassword" class="col-sm-1 col-form-label">New password</label>
                <div class="col-sm-4">
                    <input type="password" name="npassword" class="form-control" id="npassword" required><br>
                </div>
            </div>
            <div class="row mb-2">
                <label for="cpassword" class="col-sm-1 col-form-label">Confirm Password</label>
                <div class="col-sm-4">
                    <input type="password" name="cpassword" class="form-control" id="cpassword" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">change Password</button><br>
        </form>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>

</html>